# Auto detect text files and perform LF normalization
* text=auto
app/* -linguist-vendored
CProjDesktop/Platforms/* linguist-generated
CProjDesktop/Properties/* linguist-generated
CProjDesktop/Resources/* -linguist-detectable
json.hpp linguist-vendored
